* {
  margin: 0 !important;
  padding: 0;
}

html,
body {
  --animationDelay: 1;
  --o-font-type: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

/*  Animations */

@keyframes transition-pageload-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.transition-pageload-in {
  animation: transition-pageload-in 1s ease-in-out;
}
@keyframes transition-opacity-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.transition-opacity-2 {
  animation: transition-opacity-2 3s ease;
  animation-delay: 1s;
}
@keyframes transition-scale-in {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1) ease;
  }
}
.transition-scale-in {
  animation: transition-scale-in 1.3s ease;
}
@keyframes transition-translate-y {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(0px) ease;
  }
}
.transition-translate-y {
  animation: transition-translate-y 1.3s;
}

@keyframes scale-delay {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.scale-delay {
  animation: scale-delay 1s ease;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animationDelay) * 0.1s);
}

/* BODY */
